# Copyright (C) 2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

config MACH_NAME
    string
    default "stm32"

config STM32_COMMON
    bool
    default y
    select LITTLE_ENDIAN

config STM32F4
    bool
    select STM32_COMMON
    select CPU_ARM_CORTEX_M4

config STM32F417XX
    bool
    select STM32F4

config BOARD_ARA_SVC
    bool
    select STM32F417XX

choice
    prompt "Board"

    config BOARD_ARA_SVC_BDB1B
        bool "BDB1B - ARA SVC"
        select BOARD_ARA_SVC

    config BOARD_ARA_SVC_BDB2
        bool "BDB2 - ARA SVC"
        select BOARD_ARA_SVC

    config BOARD_ARA_SVC_SDB
        bool "SDB - ARA SVC"
        select BOARD_ARA_SVC
endchoice

config MACH_LINKER_SCRIPT
    string
    default "stm32f417xx"
