# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

config TCA6408
    bool "TCA6408 support"

config TCA64XX
    bool "TCA64xx support"
