# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

mainmenu "phabos kernel configuration"

config ARCH
    string
    option env="ARCH"

source "arch/$ARCH/Kconfig"
source kernel/Kconfig
source drivers/Kconfig
source fs/Kconfig
source scripts/Kconfig
