# Copyright (C) 2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menuconfig ARM_SEMIHOSTING
    bool "ARM Semihosting"
    select SERIAL

if ARM_SEMIHOSTING
    config ARM_SEMIHOSTING_LOWIO
        bool "Use ARM Semihosting for lowio"
endif
