# Copyright (c) 2014-2015 Google Inc.
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
# 3. Neither the name of the copyright holder nor the names of its
# contributors may be used to endorse or promote products derived from this
# software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
# THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

config MACH_NAME
    string
    default "tsb"

config MACH_TSB_COMMON
    bool
    default y
    select CPU_ARM_CORTEX_M3
    select LITTLE_ENDIAN

choice
    prompt "Board"

    config TSB_BOARD_BDB
        bool "BDB"
        select MACH_TSB_COMMON

    config TSB_BOARD_ENDO
        bool "endoskeleton"
        select MACH_TSB_COMMON
endchoice

choice
    prompt "Chip Revision"

    config TSB_ES1
        bool "ES1"

    config TSB_ES2
        bool "ES2"
endchoice

choice
    prompt "Bridge configuration"

    config TSB_APB2
        bool "APB2"
        depends on TSB_BOARD_BDB
endchoice

config MACH_LINKER_SCRIPT
    string
    default "tsb-es1" if TSB_ES1
    default "tsb-es2" if TSB_ES2

config TSB_GPIO
    bool "TSB GPIO"
    depends on GPIO
    default y

config TSB_UNIPRO
    bool "TSB UniPro"
    depends on UNIPRO
    default y
