# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "System configuration"

config CPU_ARM
    bool
    default y

config CPU_ARMV7
    bool
    select CPU_ARM

config CPU_ARM_THUMB
    bool

config CPU_ARMV7M
    bool
    select CPU_ARMV7
    select CPU_ARM_THUMB

config CPU_ARM_CORTEX_M3
    bool
    select CPU_ARMV7M

choice
    prompt "Machine"

    config MACH_STELLARIS
        bool "TI Stellaris"
endchoice

if MACH_STELLARIS
source "arch/$ARCH/mach-stellaris/Kconfig"
endif

choice
    prompt "Boot Mode"

    config BOOT_FLASH
        bool "boot from flash"

    config BOOT_COPYTORAM
        bool "boot from flash then copy to ram"

    config BOOT_RAM
        bool "boot from ram"
endchoice

endmenu
