# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Kernel configuration"

config DEBUG
    bool "Debug"

config TICKLESS
    bool "Tickless"

menu "Scheduler"
    config SCHED_RR
        bool "SCHED_RR scheduling policy"

    config SCHED_FIFO
        bool "SCHED_FIFO scheduling policy"

    config SCHED_NUM_RR_PRIORITIES
        int "Number of available SCHED_RR priorities"
        default 32
        depends on SCHED_RR

    config SCHED_NUM_FIFO_PRIORITIES
        int "Number of available SCHED_FIFO priorities"
        default 32
        depends on SCHED_FIFO

    choice
        prompt "Scheduler default policy"
        default SCHED_DEFAULT_POLICY_RR if SCHED_RR

        config SCHED_DEFAULT_POLICY_RR
            bool "SCHED_RR"
            depends on SCHED_RR

        config SCHED_DEFAULT_POLICY_FIFO
            bool "SCHED_FIFO"
            depends on SCHED_FIFO
    endchoice
endmenu

config INIT_TASK_NAME
    string "Init task name"
    default "shell_main"

menu "Binary loaders"
    config ELF
        bool "ELF Binary loader"
endmenu

endmenu
