# Copyright (C) 2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Filesystem"

menu "ramfs"
    config RAMFS_MAX_FILENAME_SIZE
        int "Max filename size"
        default 255

    config RAMFS_DATA_BLOCK_SIZE
        int "Data block size"
        default 256
endmenu

config PROCFS
    bool "procfs"

config BINFS
    bool "bin FS"
    default n

endmenu
