# Copyright (C) 2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "AP"

config GREYBUS_AP_GPIO
    bool "GPIO PHY"
    select GPIO

config GREYBUS_AP_I2C
    bool "I2C PHY"
    select I2C

config GREYBUS_AP_UART
    bool "UART PHY"
    select SERIAL

endmenu
