# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Drivers"

choice
    prompt "Watchdog"
    default NO_WATCHDOG

    config SCHEDULER_WATCHDOG
        bool "Watchdog provided by the scheduler"
        depends on ARCH_HAS_SCHEDULER_WATCHDOG
endchoice

menuconfig SERIAL
    bool "Serial"

if SERIAL
source drivers/serial/Kconfig
endif

menuconfig UNIPRO
    bool "UniPro"

if UNIPRO
source drivers/unipro/Kconfig
endif

endmenu
