# Copyright (C) 2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menuconfig UART16550
    bool "UART 16550"

if UART16550
config UART16550_FIFO_DEPTH
    int "FIFO Depth"
    default 16

config UART16550_RX_BUFFER_SIZE
    int "RX Buffer Size"
    default "64"

config UART16550_TX_BUFFER_SIZE
    int "TX Buffer Size"
    default "64"
endif

menuconfig STM32_USART
    bool "STM32 USART"

config TTY_MAX_CANON
    int "Maximum number of bytes in a canonical input line"
    default "256"

config TTY_MAX_INPUT
    int "Maximum input buffer size"
    default "256"

config TTY_MAX_OUTPUT
    int "Maximum output buffer size"
    default "256"
